/* google-fonts */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
/* fonts apply on */
h1 {
  font-family: "Cormorant SC", serif;
  font-family: "Poppins", sans-serif;
}
span {
  font-family: "Edu SA Beginner", cursive;
}

h2,
p,
button,
a {
  font-family: "Abel", sans-serif;
}

/*----------------------- 
animation 
--------------------------*/
@keyframes slides {
  0% {
    color: #fffaf0;
  }
  25% {
    color: #faebd7;
  }
  50% {
    color: #7fffd4;
  }
  75% {
    color: #24d89c;
  }
  100% {
    color: #04a06c;
  }
}
h1 {
  animation: slides 2s ease-in-out 0.5s infinite alternate;
}
/*-----------------------
 primary selection
 --------------------- */
* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
button {
  cursor: pointer;
}
/*---------------------------
greatest-show (section-001 // header section)
---------------------------*/
.greatest-show {
  display: flex;
  width: 90%;
  height: 646px;
  background-color: #04111f;
  border-radius: 30px;
}

.greatest-article {
  width: 50%;
  padding: 110px;
  color: #ffffff;
}
.greatest-article h1 {
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
}
.greatest-article p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 20px;
}
.greatest-article button {
  padding: 16px 25px;
  width: 187px;
  height: 56px;
  background: #dd0000;
  border-radius: 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}

.greatest-article > button > a {
  text-decoration: none;
  color: #ffffff;
}
.greatest-article > button > span {
  margin-left: 10px;
}
.animated__button:hover {
  background-color: #26e6a6;
  display: flex;
  justify-content: space-between;
  width: 50%;
  transition: 1.5s;
}
/* .animated__button:hover span {
  margin-left: 40px;
} */

.greatest-image {
  width: 50%;
}
.greatest-image img {
  height: 646px;
}

/*-------------------------------
 middle-container // section= 002
--------------------------- */
.newsfeed-sections {
  display: flex;
  width: 90%;
  /* background-color: red; */
}

.jump-sites {
  width: 300px;
  height: 312px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #161616;
  justify-content: space-evenly;
  border-radius: 5px;
  margin-right: 50px;
}

.jump-sites a {
  height: 64px;
  background-color: #ffffff;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 60px;
  color: #161616;
  text-align: center;
}
#blog {
  background-color: #dd0000;
  color: #ffffff;
}
.news-sites {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  column-gap: 50px;
}

.news {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}
.news img {
  width: 100%;
}

.news button {
  width: 100px;
  height: 32px;
  margin: 20px;
  border: 1px solid #161616;
  border-radius: 5px;
}

.news h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #161616;
  margin: 0 20px;
}
.time__msg {
  display: flex;
  gap: 25px;
  margin: 20px;
}

/* footer-area */
.footer-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #161616;
  width: 100%;
  margin-top: 150px;
  /* height: 300px; */
}
.footer-title {
  /* height: 100%; */
  /* background-color: aqua; */
}
.footer-title h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  padding: 130px 752px 65px 752px;
}

.footer-info {
  border-top: 1px solid #ffffff1a;
  /* border-top: 5px solid red; */
  /* height: 100%; */
  padding: 65px 250px;
  /* background-color: yellow; */
}
.footer-info a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #b9b9b9;
  margin: 0 50px;
}
.social-media {
  /* height: 100%; */
  padding: 0 65px 65px 65px;
  color: #ffffff;
  /* background-color: slateblue; */
}
.social-media i {
  margin: 0 20px;
  font-size: 30px;
}
.social-media a {
  color: white;
  text-decoration: none;
}

/*--------------------------- 
responsiveness
-------------------------- */
/* for mobile devices */
@media only screen and (max-width: 576px) {
  /* header-area */
  .greatest-show {
    /* display: none; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 50px; */
    width: 90%;
    height: 100%;
  }
  .animated__button:hover {
    display: none;
  }
  .greatest-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
    /* height: 100%; */
    text-align: center;
    padding: 0;
  }
  .greatest-article h1 {
    margin-top: 50px;
    font-size: 35px;
    line-height: 1;
  }
  .greatest-image img {
    width: 100%;
    height: 100%;
  }
  /* newsfeed-sections-area */
  .newsfeed-sections {
    /* display: none; */
    display: flex;
    flex-direction: column;
  }
  .jump-sites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  .jump-sites a {
    padding: 10px 5px;
    width: 100%;
    margin: 20px 0;
    border: 1px solid #d6d1d1;
  }
  .news-sites {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px;
  }
  /* footer-area */
  .footer-article {
    /* background-color: #fff; */
    /* display: none; */
    /* width: 100%; */
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
  }
  .footer-title h2 {
    padding: 0;
    margin: 50px 0;
    /* width: 100%; */
  }
  .footer-info {
    /* width: 100%; */
    padding: 30px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
  }
}

/* for tablet devices */
@media only screen and (min-width: 577px) and (max-width: 992px) {
  /* header-area */
  .greatest-show {
    /* display: none; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 90%; */
    /* height: 100%; */
  }
  .animated__button:hover {
    display: none;
  }
  .greatest-image img {
    width: 100%;
    /* height: 100%; */
  }
  /* newsfeed-sections-area */
  .newsfeed-sections {
    /* display: none; */
    display: flex;
    flex-direction: column;
  }
  .jump-sites {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  .jump-sites a {
    padding: 10px 5px;
    width: 33.3333333%;
    margin: 20px 10px;
    border: 1px solid #d6d1d1;
  }
  .news-sites {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 50px;
  }
  /* footer-area */
  .footer-article {
    /* background-color: #fff; */
    /* display: none; */
    width: 100%;
    /* height: 100vh; */
  }
  .footer-title h2 {
    padding: 0;
    margin-top: 50px;
    width: 100%;
  }
  .footer-info {
    width: 100%;
    padding: 0;
    /* height: 100%; */
  }
}
