/* primary selection */
* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
button {
  cursor: pointer;
}
/*---------------------------
greatest-show (section-001 // header section)
---------------------------*/
.greatest-show {
  display: flex;
  width: 90%;
  height: 646px;
  background-color: #161616;
  border-radius: 30px;
}

.greatest-article {
  width: 50%;
  padding: 110px;
  color: #ffffff;
}
.greatest-article h1 {
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
}
.greatest-article p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 20px;
}
.greatest-article button {
  padding: 16px 25px;
  width: 187px;
  height: 56px;
  background: #dd0000;
  border-radius: 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}

.greatest-article > button > a {
  text-decoration: none;
  color: #ffffff;
}
.greatest-article > button > span {
  margin-left: 10px;
}
.greatest-image {
  width: 50%;
}
.greatest-image img {
  height: 646px;
}

/*-------------------------------
 middle-container // section= 002
--------------------------- */
.newsfeed-sections {
  display: flex;
  width: 90%;
  /* background-color: red; */
}

.jump-sites {
  width: 25%;
  height: 312px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #161616;
  justify-content: space-evenly;
  border-radius: 5px;
  margin-right: 50px;
}

.jump-sites a {
  height: 64px;
  background-color: #ffffff;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 60px;
  color: #161616;
  text-align: center;
}
#blog {
  background-color: #dd0000;
  color: #ffffff;
}
.news-sites {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  column-gap: 50px;
}

.news {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}
.news img {
  width: 100%;
}

.news button {
  width: 100px;
  height: 32px;
  margin: 20px;
  border: 1px solid #161616;
  border-radius: 5px;
}

.news h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #161616;
  margin: 0 20px;
}
.time__msg {
  display: flex;
  gap: 25px;
  margin: 20px;
}

/* footer-area */
.footer-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #161616;
  width: 100%;
  margin-top: 150px;
  /* height: 300px; */
}
.footer-title {
  /* height: 100%; */
  /* background-color: aqua; */
}
.footer-title h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  padding: 130px 752px 65px 752px;
}

.footer-info {
  border-top: 1px solid #ffffff1a;
  /* border-top: 5px solid red; */
  /* height: 100%; */
  padding: 65px 250px;
  /* background-color: yellow; */
}
.footer-info a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #b9b9b9;
  margin: 0 50px;
}
.social-media {
  /* height: 100%; */
  padding: 0 65px 65px 65px;
  color: #ffffff;
  /* background-color: slateblue; */
}
.social-media i {
  margin: 0 20px;
}
